a:after{
  content:" [" attr(href) "]";
  font-size: 1em;
  font-weight: normal;
  font-family: "Courier New", monospaced;
}

a {
  text-decoration: none;
}


h1 { font-size: 1.2em}
h2 { font-size: 1em}
